.footer{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #124559;
}

.social{
    display: flex;
    gap: 12px;
}

.github,.linkedin{
    color:#EFF6E0;
    font-size: 25px;
}