@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #01161E;
  color: #EFF6E0;
  font-size: 14px;
  font-weight: 500;
}

.to-do-list-app{
  display: flex;
  flex-direction: column;
  align-items: center;
}